# Linting, Testing, and Package Publishing

name: Main CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types:
      - created

jobs:
  lint-and-test:
    name: "Lint & Test"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
          - "3.10"
        deps:
          - "dev,docs"
          - "dev,dev_extras,docs"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install with deps [${{ matrix.deps }}]
        run: |
          pip install -e ".[${{ matrix.deps }}]"
      - name: Lint with ruff
        run: |
          ruff check . --show-fixes --show-source
      - name: Test with pytest
        run: |
          pytest
      - name: Test with mypy
        run: |
          mypy
      - name: Check Markdown (Optional)
        uses: DavidAnson/markdownlint-cli2-action@v11
        continue-on-error: true
  publish-testpypi:
    name: "Publish to TestPyPI"
    needs:
      - "lint-and-test"
    if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
    runs-on: ubuntu-latest
    environment: testpypi
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
        deps:
          - dev,docs
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Package with dependencies ${{ matrix.deps }}
        run: |
          pip install "pydantic~=${{ matrix.lib-pydantic }}"
          pip install -e ".[${{ matrix.deps }}]"
      - name: Build
        run: python setup.py sdist bdist_wheel
      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
  publish-pypi:
    name: "Publish to PyPI"
    needs:
      - "publish-testpypi"  # ensure publishing is successful on TestPyPI first
    if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
        deps:
          - dev,docs
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Package with dependencies ${{ matrix.deps }}
        run: |
          pip install "pydantic~=${{ matrix.lib-pydantic }}"
          pip install -e ".[${{ matrix.deps }}]"
      - name: Build
        run: python setup.py sdist bdist_wheel
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
